@import "../utils/colors";

.home-page {
	.container-fluid {
		height: 100vh;
		> .row {
			height: 100vh;
		}
	}
	font-family: "Sora", sans-serif !important;
	.left-side {
		background: url("../images/homepage-bg.jpg") no-repeat center;
		background-size: cover;
		position: relative;
		color: white;
		padding: 2% 3%;
		overflow: hidden;
		.red-drop {
			position: absolute;
			bottom: -55%;
			overflow: hidden;
			transform: rotate(55deg);
			left: 20%;
		}
		.yellow-drop {
			position: absolute;
			top: -55%;
			left: 23%;
		}
		.white-drop {
			width: 55%;
			margin: 2rem 0 1rem;
		}
		.quote {
			font-weight: 300;
			font-size: 0.85rem;
			width: 80%;
		}
		.student-name,
		.student-country {
			font-weight: 600;
			font-size: 0.92rem;
		}
		@media screen and (max-width: 576px) {
			display: none;
		}
	}
	.right-side {
		padding: 2% 3%;
		.apply-now {
			font-weight: 400;
			font-size: 1.5rem !important;
		}
		form {
			margin: 2rem 0;
			input,
			select {
				border: none !important;
				height: 3.5rem;
				width: 100%;
				&:focus {
					outline: none !important;
					border: 1px solid $secondaryBlueColor !important;
					box-shadow: none;
				}
			}
			.gender-radios-group {
				display: flex;
				justify-content: flex-start;
				input[type="radio"] {
					margin-top: 0;
					height: 1.4rem !important;
				}
				.invalid-feedback {
					display: block;
				}
				label {
					margin: 0 0.5rem;
				}
			}
			.button-container {
				display: flex;
				justify-content: flex-end;
				margin-top: 1rem;
				@media screen and (max-width: 576px) {
					float: left;
				}
			}
		}
		@media screen and (max-width: 576px) {
			margin-top: 2rem;
		}
	}
}
