.digg-title {
	font-family: "IBM Plex Sans", sans-serif;
	font-size: 62px;
	color: black;
}
.digg-home-title {
	font-family: "IBM Plex Sans", sans-serif;
	font-size: 62px;
	color: white;
}

.form-control,
.dropdown button {
	background-color: #efefef !important;
	&::placeholder {
		color: #141212 !important;
		font-family: "Sora", sans-serif !important;
		font-weight: 300 !important;
		font-size: 18px !important;
	}
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
	color: #141212 !important;
}
.btn-primary:not(:disabled):not(.disabled),
.show > .btn-primary.dropdown-toggle {
	color: #141212 !important;
}
