.digg-title {
	font-family: "IBM Plex Sans", sans-serif;
	font-size: 3.2rem;
	color: black;
}
.digg-home-title {
	font-family: "IBM Plex Sans", sans-serif;
	font-size: 3.2rem;
	color: white;
}

.form-control {
	background-color: #efefef !important;
	&::placeholder,
	option {
		color: #141212 !important;
		font-family: "Sora", sans-serif !important;
		font-weight: 300 !important;
		font-size: 18px !important;
	}
	select {
		border: none;
	}
}
