.sora-font-light {
    font-family: "Sora", sans-serif;
    font-weight: 300;
  }
  .sora-font-regular {
    font-family: "Sora", sans-serif;
    font-weight: 400;
  }
  .sora-font-semi-bold {
    font-family: "Sora", sans-serif;
    font-weight: 600;
  }
  